$form-control-border-radius: 4px;

form {
	section {
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid #DDD;
	}

	.help-block {
		margin-top: 0.5rem;
		margin-bottom: 0;
		font-size: 1.4rem;
	}
}

fieldset {
	legend {
		margin-bottom: 3rem;
		padding-bottom: 0.75rem;
		font-size: 1.8rem;
		font-weight: bold;
		border-bottom: 2px solid #000;
	}

	+ fieldset {
		margin-top: 5rem;
	}
}

textarea {
	resize: vertical;
}

.form-container {
	padding: 0 2rem;
}

.form-control {
	padding: 1rem;
	height: auto;
}

.form-group {
	margin-bottom: 0;

	+ .form-group {
		margin-top: 3rem;
	}
}

.form-inline {
	.form-group {
		&.control-label {
			padding-right: 10px;
			display: inline-block;
		}
	}
}

.form-control[readonly] {
	box-shadow: none;

	&:active,
	&:focus {
		border-color: #ccc;
		box-shadow: none;
		outline: none;
	}
}

.form-control-static {
	padding: 6px 12px;
	background: #EEE;
	border: 1px solid #DDD;
	border-radius: 4px;
}

.checkbox-row {
	margin-top: 0.6rem;

	label {
		font-weight: normal;
	}
}

.checkbox,
.checkbox-inline {
	margin-right: 2rem;

	input {
		margin-top: 2px;
	}
}

.date-picker {
	position: relative;
	padding-right: 4rem;
	min-width: 17rem;
	max-width: 17rem;

	strong {
		margin-right: 1.5rem;
	}

	.glyphicon {
		position: absolute;
		top: 0.8rem;
		right: 1rem;
		font-size: 1.6rem;
	}
}

.date-range-control {
	.spacer {
		padding: 0 1rem;
		line-height: 3.4rem;
	}
}

.input-group.date-range {
	width: 16rem;
}

.radio-group {
	padding-top: 0.7rem;

	input[type="radio"] {
		margin-top: 2px;
	}
}

// TINY MCE OVERRIDES
.mce-tinymce {
	border-radius: 4px;
	border: 1px solid #ddd;
}

.mce-content-body {
	height: auto;
	min-height: auto;
	margin: 0 0.5rem;
	background-color: transparent;
	font-family: $font-family-sans-serif;
	font-size: 14px;

	p { 
		line-height: 20px;
	}
}

.mce-toolbar-grp {
	border-top-right-radius: $form-control-border-radius;
	border-top-left-radius: $form-control-border-radius;
}

.mce-edit-area {
	border-bottom-right-radius: $form-control-border-radius;
	border-bottom-left-radius: $form-control-border-radius;
}

// UI SELECT MODULE
.ui-select-multiple {
	&.ui-select-bootstrap {
		@include flexbox();
		padding: 0;

		input {
			&.ui-select-search {
				@include flex(1 1 auto);
				margin-bottom: 0;
				padding: 6px 12px;
				width: auto !important;
				height: 41px;
			}
		}

		.ui-select-match {
			&-item {
				margin-top: 4px;
				margin-right: 0;
				margin-bottom: 0;
				margin-left: 4px;
				padding: 0.5rem 1rem;
				color: $select-tag-color;
				border-color: $select-tag-bg;
				background-color: $select-tag-bg;
				font-weight: normal;
				font-size: 1.4rem;

				&.btn-primary {
					border-color: $select-tag-bg-active;
					background-color: $select-tag-bg-active;
				}
			}
			
			&-close {
				margin-top: 0.1rem;
				margin-left: 0.5rem;
				color: $select-tag-color;
				text-shadow: none;
				font-weight: normal;
				opacity: 1;
			}
		}
	}
}

.ui-select-container {
	> div {
		@include flexbox();
		@include flexdirection(row);
		width: 100%;
	}
}

// Form Components / Form Layout
.form-footer {
	@include flexbox();
	padding-top: 3rem;
	justify-content: flex-end;
	&__buttons {
		@include flex(0 0 auto);
		.btn {
			min-width: 8rem;
		}
	}
}

// VALIDATION
.form-validation-msg {
	margin-left: 0.25rem;
	font-size: 1.2rem;
	font-weight: normal;
	color: #999;
}

.control-label {
	em {
		@extend .form-validation-msg;
	}

	em.required {
		display: none;
	}
}

.has-error {
	.control-label {
		em.required {
			display: inline;
			color: $danger-text;
		}
	}

	.form-control {
		background: $form-control-error-bg;
	}

	.mce-tinymce {
		border-color: $danger-text;
	}

	.mce-edit-area {
		background: $form-control-error-bg;
	}
}