$form-control-border-radius: 4px;

form {
	section {
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid #DDD;
	}

	.help-block {
		margin-top: 0.5rem;
		margin-bottom: 0;
		font-size: 1.4rem;
	}
}

fieldset {
	legend {
		margin-bottom: 3rem;
		padding-bottom: 0.75rem;
		font-size: 1.8rem;
		font-weight: bold;
		border-bottom: 3px solid #000;
	}

	+ fieldset {
		margin-top: 5rem;
	}
}

textarea {
	resize: vertical;
}

// Form Layout Items
.form-footer {
	@include flexbox();
	padding-top: 3rem;
	justify-content: flex-end;
	&__buttons {
		@include flex(0 0 auto);
		.btn {
			min-width: 6rem;
		}
	}
}

.form-container {
	padding: 0 2rem;
}

.form-control {
	padding: 1rem;
	height: auto;

	&:active,
	&:focus {
		border-color: #ccc;
		box-shadow: none;
		outline: none;
	}

	&[readonly] {
		box-shadow: none;
	}

	&-static {
		padding: 6px 12px;
		background: #EEE;
		border: 1px solid #DDD;
		border-radius: 4px;
	}

	&.input-sm {
		padding: 0.5rem;
		height: 30px;
	}
}

.form-group {
	margin-bottom: 0;

	+ .form-group {
		margin-top: 3rem;
	}
}

.form-inline {
	.form-group {
		&.control-label {
			padding-right: 10px;
			display: inline-block;
		}
	}
}

.checkbox-row {
	margin-top: 0.6rem;

	label {
		font-weight: normal;
	}
}

.checkbox,
.checkbox-inline {
	margin-right: 2rem;

	input {
		margin-top: 2px;
	}
}

// Date Picker 
$date-time-picker-bg: #fff;
$date-time-picker-header-bg: #eee;
$date-time-picker-btn-hover-bg: #ddd;

.uib-datepicker {
  background: $date-time-picker-bg;
  
  .uib-daypicker {
    &:focus {
      outline: none;
    }
  }

	table {
		.btn {
			width: 100%;
			height: 100%;
      font-weight: normal;
      border: none;

      &:focus {
        border: none;
      }
    }
	}

	thead {
		tr:first-child {
			background-color: $date-time-picker-header-bg;

			.btn-sm {
				font-size: 1.4rem;
			}
		}

		.btn {
			border-color: transparent;
			background-color: transparent;
			box-shadow: none;

			&:hover {
				background-color: $date-time-picker-btn-hover-bg;
			}
		}
  }

  tr:first-child {
    th {
      padding: 0.5rem;
    }
  }
  
  tr:nth-child(2) {
    th {
      padding: 0.2rem;
      padding-top: 0.75rem;
    }
  }

  td {
    padding: 0.2rem;
  }
}

.datepicker {
	&__input {
    position: relative;
    max-width: 18rem;
    cursor: pointer;

    input {
      padding-right: 3.4rem;
    }

    .calendar-btn {
      .glyphicon {
        top: 0.25rem;
        font-size: 1.8rem;
      }
    }

    span.calendar-btn {
      position: absolute;
      top: 0.8rem;
      right: 0.25rem;
      width: 3.4rem;
      text-align: center;
      pointer-events: none;
    }

		button.calendar-btn {
      position: absolute;
      top: 0;
      padding: 0;
      padding-right: 0.75rem;
      width: 100%;
      height: 100%;
      background: transparent;
      text-align: right;
    }

		&:disabled {
			background: $form-control-bg;
		}
  }

	&__modal {
		.modal-dialog {
			width: 40rem;
		}

		.uib-datepicker {
      border-radius: 0.5rem;
			padding: 0.4rem;

			table {
				width: 100%;
				height: 28rem;
			}
		}
	}

	.dropdown-menu {
		padding: 0;

		.uib-datepicker {
      border-radius: 0.5rem;
			padding: 0.4rem;

			table {
				width: 100%;
				height: 25rem;
			}
		}

		li {
			padding: 0.5rem;
			
			&:last-child {
				overflow: hidden;
        padding: 0.2rem 0.7rem 0.7rem 0.7rem !important;

        .btn {
            border-color: #CCC;
            background: #FFF;
            color: #494949;

            &:hover,
            &:focus {
                background: #EEE;
            }
        }
			}
    }
	}
}

// Time Picker
.uib-timepicker {
  .btn {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    border: none;
    color: #000;

    &:hover {
      background: $date-time-picker-btn-hover-bg;
    }
  }

  td {
		padding: 0.2rem;
	}
}

.timepicker {
  &__input {
    padding: 0.2rem;
    border-radius: 0.5rem;
    background: $date-time-picker-bg;

    table {
      margin: 0 auto;
    }
  }
}

// Date Range Control
.date-range-control {
	.spacer {
		padding: 0 1rem;
		line-height: 3.4rem;
	}
}

.input-group.date-range {
	width: 16rem;
}

.radio-group {
	padding-top: 0.7rem;

	input[type="radio"] {
		margin-top: 2px;
	}
}

// TINY MCE OVERRIDES
.mce-tinymce {
	border-radius: 4px;
	border: 1px solid #ddd;
}

.mce-content-body {
	height: auto;
	min-height: auto;
	margin: 0 0.5rem;
	background-color: transparent;
	font-family: $font-family-sans-serif;
	font-size: 14px;

	p { 
		line-height: 20px;
	}
}

.mce-toolbar-grp {
	border-top-right-radius: $form-control-border-radius;
	border-top-left-radius: $form-control-border-radius;
}

.mce-edit-area {
	border-bottom-right-radius: $form-control-border-radius;
	border-bottom-left-radius: $form-control-border-radius;
}

// UI SELECT MODULE
.ui-select-multiple {
	&.ui-select-bootstrap {
		@include flexbox();
		padding: 0;

		input {
			&.ui-select-search {
				@include flex(1 1 auto);
				margin-bottom: 0;
				padding: 6px 12px;
				width: auto !important;
				height: 41px;
			}
		}

		.ui-select-match {
			&-item {
				margin-top: 4px;
				margin-right: 0;
				margin-bottom: 0;
				margin-left: 4px;
				padding: 0.5rem 1rem;
				color: $select-tag-color;
				border-color: $select-tag-bg;
				background-color: $select-tag-bg;
				font-weight: normal;
				font-size: 1.4rem;

				&.btn-primary {
					border-color: $select-tag-bg-active;
					background-color: $select-tag-bg-active;
				}
			}
			
			&-close {
				margin-top: 0.1rem;
				margin-left: 0.5rem;
				color: $select-tag-color;
				text-shadow: none;
				font-weight: normal;
				opacity: 1;
			}
		}
	}
}

.ui-select-container {
	> div {
		@include flexbox();
		@include flexdirection(row);
		width: 100%;
	}
}

.ui-select-no-choice {
	padding: 1rem;
}

// VALIDATION
.form-validation-msg {
	margin-left: 0.25rem;
	font-weight: normal;
	color: #999;
}

.control-label {
	margin-bottom: 0.75rem;
	
	em {
		@extend .form-validation-msg;
	}

	em.required {
		display: none;
	}
}

.has-error {
	.control-label {
		em.required {
			display: inline;
			color: $danger-text;
		}
	}

	.form-control {
		background: $form-control-error-bg;
	}

	.mce-tinymce {
		border-color: $danger-text;
	}

	.mce-edit-area {
		background: $form-control-error-bg;
	}
}
