// Tabs
.nav-tabs {
	//margin-bottom: -2px;
	border: none;
  
	> li {
	  > a {
		padding: 1.25rem 2rem;
		border: none;
		font-size: 1.4rem;
		cursor: pointer;
		&:active,
		&:focus,
		&:hover {
		  border: none;
		}
	  }
  
	  &.active {
		> a {
		  border-width: 0;
		  border-bottom-width: 0;
		  &:active,
		  &:focus,
		  &:hover {
			  border-width: 0;
			  border-bottom-width: 0;
		  }
		}
	  }
	}
  }
  
  // Tab Pane Layout
  .tab-pane {
	padding: 4rem;
	background: #fff;
  
	fieldset {
	  margin-right: auto;
	  margin-left: auto;
	  max-width: 100rem;
	}
  }