<form class="edit-collection view-form" name="collectionForm" ng-submit="save(collectionForm.$valid)" novalidate x-show-errors>

  <div class="view-title">
    <div class="view-title__container">
      <div class="view-title__info">
        <h1 class="view-title__info--title">
          {{collection.addedBy ? "Edit Collection" : "Add Collection"}} &nbsp;&rsaquo;&nbsp; {{collection.displayName ? collection.displayName : 'Untitled'}}
        </h1>
        <span class="view-title__info--meta" ng-if="collection.dateUpdated">
          <span>Last Modified {{collection.dateUpdated | date : "yyyy-MM-dd"}} by {{collection.updatedBy.displayName}}</span>
          <span class="label"
            ng-class="{'label-success': collection.isPublished == true, 'label-unpublished': collection.isPublished == false}">
            {{collection.isPublished ? 'PUBLISHED' : 'UNPUBLISHED'}}
          </span>
        </span>
      </div>
      <div class="view-title__actions">
        <button class="btn btn-default" title="Cancel and return to the Collections List"
          ng-if="!collection.addedBy" ui-sref="p.collection.list">
          Cancel
        </button>
        <button class="btn btn-default" title="Cancel and return to the Collections List"
          ng-if="collection.addedBy" ng-click="goToDetail()">
          Cancel
        </button>
        <button class="btn btn-primary" type="submit" title="Save this Collection">
          Save
        </button>
        <button class="btn btn-primary" title="Publish this Collection"
          ng-if="!collection.isPublished" ng-click="publish()" type="button">
          Publish
        </button>
        <button class="btn btn-danger" title="Unpublish this Collection"
          ng-if="collection.isPublished" ng-click="unpublish()" type="button">
          Unpublish
        </button>
        <button class="btn btn-danger" title="Delete this Collection from this project"
          ng-if="collection.addedBy" ng-click="delete()" type="button">
          Delete
        </button>
      </div>
    </div>
  </div>

  <div class="view-body">
    <div class="view-body__container">

      <!-- TODO: Hook up top-level validation alert -->

      <div class="alert alert-danger" ng-if="!collectionForm.$valid">
        <span class="alert__icon glyphicon glyphicon-exclamation-sign"></span>
        <span class="alert__msg">One or more errors were found in your collection.</span>
      </div>

      <!-- TODO: Fix functionality to render error notification in tabs -->
      <ul class="nav nav-tabs" ng-init="form.curTab = currTab || 'Collection Details'">
        <li role="presentation" ng-class="{'active':form.curTab === 'Collection Details'}" x-show-errors>
          <a title="Edit Project Details" name="collectionDetailsForm" ng-click="form.curTab = 'Collection Details'">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            Collection Details
          </a>
        </li>
        <li role="presentation" ng-class="{'active':form.curTab === 'Collection Documents'}" x-show-errors>
          <a title="Collection Documents" name="collectionDocuments" ng-click="form.curTab = 'Collection Documents'">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            Manage Documents
          </a>
        </li>
      </ul>

      <div class="tab-pane active" ng-show="form.curTab === 'Collection Details'" ng-form="collectionDetailsForm">
        <fieldset>
          <legend>General Information</legend>
          <div class="form-group" x-show-errors>
            <label class="control-label" for="type">Type<em class="required">(Required)</em></label>
            <select class="form-control" id="type" name="type" ng-model='collection.type' ng-options="t.id as t.title for t in types" required></select>
          </div>
          <div class="form-group" x-show-errors>
            <label class="control-label" for="displayName">Name<em class="required">(Required)</em></label>
            <input class="form-control" id="displayName" name="displayName" ng-model='collection.displayName' required>
          </div>
          <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" ng-model="collection.description" required></textarea>
          </div>
          <div class="form-group" x-show-errors>
            <label for="date" class="control-label">Date<em class="required">(Required)</em></label>
            <div class="form-control datepicker__input" name="date" x-modal-date-picker
              x-selected-date="collection.date" x-header="'Choose a Date'">
              <span ng-if="!collection.date">YYYY-MM-DD</span> {{ collection.date | amDateFormat:'YYYY-MM-DD'}}
              <span class="calendar-btn">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Authorized by</legend>
          <div class="form-group">
            <div class="checkbox m-t-0 m-b-2">
              <label for="isForMEM">
              <input type="checkbox" ng-model="collection.isForMEM" id="isForMEM" name="isForMEM" />
                Ministry of Energy, Mines and Petroleum Resources (EMPR)
              </label>
            </div>
            <div class="checkbox">
              <label for="isForENV">
                <input type="checkbox" ng-model="collection.isForENV" id="isForENV" name="isForENV" />
                Ministry of Environment and Climate Change Strategy (ENV)
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="tab-pane active" ng-show="form.curTab === 'Collection Documents'" ng-form="collectionDocuments">
        <fieldset>
          <legend>Main Documents</legend>

          <div class="alert alert-danger" ng-if="!collection.hasPublished">
            <span class="alert__icon glyphicon glyphicon-exclamation-sign"></span>
            <span class="alert__msg">A minimum of one (1) PUBLISHED Main Document is required before this Collection can be published.</span>
          </div>

          <div class="btn-toolbar">
            <button class="btn btn-info" title="Link main document to this collection" x-document-mgr-link-modal x-project="project" x-target="linkedMainDocuments"
              x-collection="collection" x-doc-type="main" x-on-ok="updateDocuments">
              <span class="glyphicon glyphicon-link"></span><span>Add Main Documents</span>
            </button>
          </div>

          <table class="table collection-document-table m-t-1" ng-table="mainTableParams">
            <tr ng-repeat="d in $data">
              <td header-class="'name'"
                data-title="'Name'"
                sortable="'document.displayName'">{{ d.document.displayName | removeExtension }}</td>
              <td header-class="'date'"
                data-title="'Document Date'"
                sortable="'document.documentDate'">{{ d.document.documentDate | amDateFormat:'YYYY-MM-DD' }}</td>
              <td header-class="'status'"
                data-title="'Status'"
                sortable="'document.isPublished'">
                <span class="label"
                  ng-class="{'label-success': d.document.isPublished == true, 'label-unpublished': d.document.isPublished == false}">
                  {{d.document.isPublished ? 'PUBLISHED' : 'UNPUBLISHED'}}
                </span>
              </td>
              <td class="actions" header-class="'actions'">
                <a class="btn icon-btn" title="Remove document from this collection" ng-click="removeDocument(d.document, 'main')">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            </tr>
            <tr class="no-results" ng-if="!$data || $data.length === 0">
              <td colspan="5">
                <span>No Documents Found. A minimum of one (1) PUBLISHED Main Document is required before this Collection can be published</span>
              </td>
            </tr>
          </table>
        </fieldset>
        <fieldset>
          <legend>Related Documents</legend>
          <div class="btn-toolbar">
            <button class="btn btn-info" title="Link other documents to this collection"
              x-document-mgr-link-modal x-project="project"
              x-target="linkedOtherDocuments"
              x-collection="collection"
              x-doc-type="other"
              x-on-ok="updateDocuments">
              <span class="glyphicon glyphicon-link"></span><span>Add Related Documents</span>
            </button>
            <!-- TODO: Ditch the additional UI to sort documents and do it right in this interface -->
            <!--
            <button class="btn btn-info"
              title="Set the default order documents will be displayed"
              x-reorder-collection-modal x-collection="collection"
              x-on-save="otherDocsReordered">
              <span class="glyphicon glyphicon-sort"></span>
              <span>Set Document Order</span>
            </button>
            -->
          </div>

          <table class="table collection-document-table m-t-1" ng-table="otherTableParams">
            <tr ng-repeat="d in $data">
              <td header-class="'name'"
                data-title="'Name'"
                sortable="'document.displayName'">
                {{ d.document.displayName | removeExtension }}</td>
              <td header-class="'date'"
                data-title="'Document Date'"
                sortable="'document.documentDate'">
                {{ d.document.documentDate | amDateFormat:'YYYY-MM-DD' }}</td>
              <td header-class="'status'"
                data-title="'Status'"
                sortable="'document.isPublished'">
                <span class="label"
                  ng-class="{'label-success': d.document.isPublished == true, 'label-unpublished': d.document.isPublished == false}">
                  {{d.document.isPublished ? 'PUBLISHED' : 'UNPUBLISHED'}}
                </span>
              </td>
              <td class="actions" header-class="'actions'">
                <a class="btn icon-btn" title="Remove document from this collection" ng-click="removeDocument(d.document, 'other')">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            </tr>
            <tr class="no-results" ng-if="!$data || $data.length === 0">
              <td colspan="5">No Documents Found.</td>
            </tr>
          </table>
        </fieldset>
      </div>
      <div class="form-footer clearfix">
        <div class="form-footer__buttons">
          <button class="btn btn-default" title="Cancel and return to the Collections List"
            ng-if="!collection.addedBy" ui-sref="p.collection.list">
            Cancel
          </button>
          <button class="btn btn-default" title="Cancel and return to the Collections List"
            ng-if="collection.addedBy" ng-click="goToList()">
            Cancel
          </button>
          <button class="btn btn-primary" type="submit" title="Save this Collection">
            Save
          </button>
          <button class="btn btn-primary" title="Publish this Collection"
            ng-if="!collection.isPublished" ng-click="publish()" type="button">
            Publish
          </button>
          <button class="btn btn-danger" title="Unpublish this Collection"
            ng-if="collection.isPublished" ng-click="unpublish()" type="button">
            Unpublish
          </button>
          <button class="btn btn-danger" title="Delete this Collection from this project"
            ng-if="collection.addedBy" ng-click="delete()" type="button">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

</form>
