<div class="main-panel">
	<div class="view-title-container">
		<h1 id="authentication_error_header">Authentication Error</h1>
	</div>

    <div class="view-body-container">
        <p id="bceid_business_authentication_failure_message" ng-show="userType === 'business'">business bceid user is not known to ESM or password invalid</p>
        <p id="bceid_user_authentication_failure_message" ng-show="userType === 'basic'">bceid user is not known to ESM or password invalid</p>
        <p id="bceid_individual_authentication_failure_message" ng-show="userType === 'individual'">bceid (individual) user is not known to ESM or password invalid</p>
        <p id="idir_user_authentication_failure_message" ng-show="userType === 'internal'">idir user is not known to ESM or password invalid</p>
        <p id="unknown_user_type_authentication_failure_message" ng-show="userType === 'unknown'">user is not known to ESM or password invalid</p>
        <p>
            <a class="btn btn-sm btn-primary" ui-sref="projects" href>
                <span class="glyphicon glyphicon-chevron-left"></span><span>Back to Home</span></a>
        <p>
    </div>

</div>
