<div class="spinner-container" ng-show="confirmDlg.busy">
  <div class="spinner-new rotating"></div>
</div>

<form class="delete-confirmation">
	<div class="modal-header">
		<button class="btn btn-default close" type="button" ng-click="confirmDlg.cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h3 class="modal-title" ng-bind-html="confirmDlg.title">{{confirmDlg.title}}</h3>
	</div>

	<div class="modal-body" ng-if="confirmDlg.errMsg">
		<div class="alert alert-danger">{{confirmDlg.errMsg}}</div>
	</div>

  <div class="modal-body" ng-if="!confirmDlg.errMsg">

		<div class="m-b-2" ng-bind-html="confirmDlg.confirmText"></div>

		<div class="m-b-2" ng-class="{'alert alert-danger': confirmDlg.hasBlockedContent}" ng-if="confirmDlg.hasBlockedContent">
			<span class="glyphicon glyphicon-ban-circle"></span>
			<span class="alert-msg" ng-bind-html="confirmDlg.bannerText"></span>
		</div>

		<div class="delete-confirmation__list fb-list">
			<ul>
				<li class="fb-list-item" ng-class="{'has-error': !item.canBeDeleted}" ng-repeat="item in confirmDlg.combindedList">
					<span class="col name-col first-col">
						<span class="avatar">
							<span class="glyphicon" ng-if="item.canBeDeleted"
								ng-class="{'fb-folder glyphicon-folder-close' : item.type === 'Folder',
													 'fb-file glyphicon-file': item.type === 'File',
													 'fb-img glyphicon-picture': item.type === 'Picture' }">
							</span>
							<span class="glyphicon glyphicon-ban-circle" ng-if="!item.canBeDeleted"></span>
						</span>
						<span class="name">{{item.displayName}}</span>
						<div class="reason" ng-if="!item.canBeDeleted" ng-bind-html="item.reason"></div>
					</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-click="confirmDlg.cancel()">{{confirmDlg.cancelText}}</button>
		<button class="btn btn-primary" type="submit" ng-click="confirmDlg.submit()"
			ng-show="confirmDlg.showSubmit" ng-disabled="confirmDlg.errMsg">Delete</button>
	</div>
</form>
