.edit-project-form {
  .view-title-container {
    .btn {
      min-width: 8rem;
    }
  }

  .checkbox {
    label {
      padding-left: 2rem;
      font-weight: bold;
    }
  }
}

.project-operator-table,
.project-ownership-table {
  table-layout: fixed;

  .actions {
    width: 6rem;
  }
  .name {
    width: 33.3333%;
  }
}

.project-ownership-table {
  .input-group {
    max-width: 15rem;
  }
}