.edit-project-activity {
    margin: 0;
    padding: 0;
    max-width: 80rem;
    list-style-type: none;

    &__item {
        &-details {
            @include flexbox();
            margin-bottom: 1rem;

            label {
                @include flex(1 1 auto);
                font-size: 1.6rem;
            }
        }

        &-description {
            display: block;
        }

        + .edit-project-activity__item {
            margin-top: 2.5rem;
            padding-top: 1.5rem;
            border-top: $hr-rule-border;
        }
    }

}

@media (min-width: 768px) {
    .edit-project-activity {
        &__item {
            //@include flexflow(row nowrap);

            label {
                margin-top: 0.8rem;
            }

            select {
                width: 30rem;
            }
        }
    }
}