
// External Links
.external-links-table {
  .actions {
    width: 10rem;
  }
  .title {
    width: 33.3333%
  }
}

// Operator and Ownership Details
.project-operator-table,
.project-ownership-table {
  .actions {
    width: 6rem;
  }
  .name,
  .url {
    width: 33.3333%
  }
}
