// Site Activity Module
.site-activity {
  position: relative;

  &__description {
      display: block;
      margin-bottom: 3rem;
  }

  select {
      width: 15rem;
  }

  .btn-group {
      .btn {
      min-width: 8rem;

      &.active {
          color: #fff;
          background-color: #5cb85c;
          border-color: #4cae4c;
      }
      }
  }
}