.edit-project-info {
  .tab-pane {
    padding: 4rem;
  }
}

.project-operator-table,
.project-ownership-table {
  .actions {
    width: 6rem;
  }
  
  .alias {
    width: 33.3333%
  }

  .name {
    width: 33.3333%
  }
};

.external-links-table {
  .actions {
    width: 10rem;
  }
}

.mines-checkbox {
  label {
    font-weight: bold;
  }
}
